In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('SalaryData.csv')

In [29]:
df.head()

    Education     Occupation  Salary
0   Doctorate   Adm-clerical  153197
1   Doctorate   Adm-clerical  115945
2   Doctorate   Adm-clerical  175935
3   Doctorate   Adm-clerical  220754
4   Doctorate          Sales  170769

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Education   40 non-null     category
 1   Occupation  40 non-null     object
 2   Salary      40 non-null     int64
dtypes: category(1), int64(1), object(1)
memory usage: 940.0+ bytes

In [31]:
df.isnull().sum()

Education     0
Occupation    0
Salary        0
dtype: int64

In [51]:
df.Education = pd.Categorical(df.Education)

In [52]:
df.Education.value_counts()

 Doctorate    16
 Bachelors    15
 HS-grad       9
Name: Education, dtype: int64

In [34]:
df.Education.value_counts()

 Doctorate    16
 Bachelors    15
 HS-grad       9
Name: Education, dtype: int64

In [41]:
df.Education.replace(to_replace='Doctorate', value=1, inplace=True)

In [42]:
df.Education.value_counts()

 Doctorate    16
 Bachelors    15
 HS-grad       9
Name: Education, dtype: int64

In [47]:
df.Education=pd.Categorical(df.Education)

In [50]:
df.Education.value_counts()

 Doctorate    16
 Bachelors    15
 HS-grad       9
Name: Education, dtype: int64